/* Colors ->  #F1BE48;    #101820
    Fonte -> 'Oleo Script', 'Poppins'
*/
@import url('https://fonts.googleapis.com/css2? family= Oleo+Script & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Poppins:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oleo Script', 'Poppins';
}

.container {
    width: 100%;
    height: 100vh;

}

.logo {
    width: 100%;
    height: 100vh;
    background-color: #F1BE48;
    opacity: 0.8;
    z-index: 2;
    text-align: center;
}

video {
    width: 100%;
    height: 200px;
}

.header {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-icons {
    display: flex;
    gap: 40px;
}

a {
    font-size: 30px;
    color: #101820;
    cursor: pointer;
    text-decoration: none;

}

a:hover {
    animation: translateY 0.8s infinite alternate;
    /* para não rodar a animação uma vez só*/
    color: #FFFF;
    text-decoration: overline
}

a:active {
    animation: translateY 0.8s infinite alternate;
    /* para não rodar a animação uma vez só*/
    color: #FFFF;
    text-decoration: overline
}

@keyframes translateY {
    from {
        transform: translateY(0) scale(1);
        /* posição onde inicia o icone */
    }

    to {
        transform: translateY(-8px) scale(1.1);
        /* posição onde termina o icone */
    }
}

@media screen and (max-width:1000px) {
    body {
        width: 100vw;
        height: 100vh;
    }

    .container {
        max-width: 800px;
        height: 100vh;

    }

    .logo {
        min-width: 1000px;


    }

    video {
        max-width: 1000px;
        height: 230px;
    }
}

@media screen and (max-width:500px) {

    a {
        font-size: 60px;
    }

    .container {
        height: 1600px;
        position: relative;
        z-index: -2;
    }

    .logo {
        height: 260vh;
        position: relative;
        z-index: -2;
    }

    video {
        position: relative;
        z-index: -2;
        height: 50%;
    }

    .header {
        position: fixed;
        z-index: 2;
        top: 1%;
        padding: 50px;
        margin-left: 10px;
    }

    .header-icons {
        gap: 20px;
    }

}

/*---------------------------------------*/

.img-inicio {
    background-image: url(./cardapio/burgerEigth.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    height: 72vh;
    min-width: 100%;
    z-index: -1;

}

main {
    position: absolute;
    z-index: 1;
    margin-top: 15px;
    height: 72vh;
    min-width: 100%;
}

.text-inicio {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 70vh;
    min-width: 100%;
    flex-direction: column;
}

h1 {
    margin-top: 30px;
    color: #FFFF;
    font-size: 150px;
    text-shadow: #101820 0.1em 0.1em;
}

p {
    color: #FFFF;
    font-size: 100px;
    text-shadow: #101820 0.1em 0.1em;
}

.saiba-mais {
    color: #101820;
    background-color: #F1BE48;
    width: 550px;
    height: 30px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    margin-top: 70px;

}

@media screen and (max-width:1600px) {

    .text-inicio {
        min-height: 70%;
    }

    .products-video {
        max-width: 1000px;
        height: 400px;
    }

    h1 {
        font-size: 100px;
    }

    p {
        font-size: 80px;
    }

    .saiba-mais {
        width: 350px;
    }

    .products-video {
        max-width: 1000px;
        height: 400px;
    }
}

@media screen and (max-width:1000px) {


    main {
        min-width: 600px;

    }

    .img-inicio {

        height: 72vh;
        min-width: 1000px;
    }


    h1 {
        font-size: 80px;
    }

    p {
        font-size: 40px;
    }
}

@media screen and (max-width:500px) {

    .img-inicio {
        height: 130vh;
        min-width: 1000px;
    }

    h1 {
        font-size: 130px;
    }

    p {
        font-size: 80px;
    }

    .saiba-mais {
        width: 450px;
        height: 40px;
        font-size: 30px;
    }

}



/*----------------------*/