/* Colors ->  #F1BE48;    #101820
    Fonte -> 'Oleo Script', 'Poppins'
*/
@import url('https://fonts.googleapis.com/css2? family= Oleo+Script & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Poppins:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oleo Script', 'Poppins';
}

body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100vh;
}

.logo {
    width: 100%;
    height: 350px;
    background-color: #F1BE48;
    opacity: 0.8;
    z-index: 2;
    text-align: center;
}

video {
    width: 100%;
    height: 300px;
}

.header {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-icons {
    display: flex;
    gap: 40px;
}

a {
    font-size: 30px;
    color: #101820;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    animation: translateY 0.8s infinite alternate;
    /* para não rodar a animação uma vez só*/
    color: #FFFF;
    text-decoration: overline
}

a:active {
    animation: translateY 0.8s infinite alternate;
    /* para não rodar a animação uma vez só*/
    color: #FFFF;
    text-decoration: overline
}

@keyframes translateY {
    from {
        transform: translateY(0) scale(1);
        /* posição onde inicia o icone */
    }

    to {
        transform: translateY(-8px) scale(1.1);
        /* posição onde termina o icone */
    }
}

@media screen and (max-width:1000px) {

<<<<<<< HEAD
    .container {
        width: 100%;
    }
=======
   .container{
    max-width:800px;
   }
>>>>>>> 8d51aa4738aa7f42479ec748b38957e0594ed7fb

    a {
        font-size: 20px;
    }

    .header-icons {
        gap: 10px;
    }
}

/* -------------------------------------*/
<<<<<<< HEAD

=======
>>>>>>> 8d51aa4738aa7f42479ec748b38957e0594ed7fb
main {
    display: flex;
    width: 100%;
    height: auto;
    padding-left: 80px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.since {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 790px;
<<<<<<< HEAD
=======

>>>>>>> 8d51aa4738aa7f42479ec748b38957e0594ed7fb
}

.text-sobre-left {
    max-width: 400px;
    display: flex;
    gap: 30px;
    padding: 30px;
    text-align: left;
}

.text-sobre-right {
    max-width: 500px;
    display: flex;
    gap: 30px;
    padding: 30px;
    text-align: left;
    padding: 30px;
<<<<<<< HEAD
=======

>>>>>>> 8d51aa4738aa7f42479ec748b38957e0594ed7fb
}

@media screen and (max-width:1200px) {

<<<<<<< HEAD
    body {
        width: 100%;
        height: 100%;
    }
=======
>>>>>>> 8d51aa4738aa7f42479ec748b38957e0594ed7fb

    main {
        flex-direction: column;
        align-items: center;
        padding: 0;
<<<<<<< HEAD
    }

    .text-sobre-left {
=======

    }

    .text-sobre-left{
       max-width: 1200px;
       gap: 80px;
       justify-content: space-between;
       padding: 80px;
    }

    .text-sobre-right {
>>>>>>> 8d51aa4738aa7f42479ec748b38957e0594ed7fb
        max-width: 1200px;
        gap: 80px;
        justify-content: space-between;
        padding: 80px;
    }

<<<<<<< HEAD
    .text-sobre-right {
        width: 100%;
        gap: 80px;
        justify-content: space-between;
        padding: 80px;
    }

    .since {
        width: 100%;
    }
=======
>>>>>>> 8d51aa4738aa7f42479ec748b38957e0594ed7fb

    .direitos {
        margin: auto;
        max-width: 300px;
        font-size: 15px;
    }
<<<<<<< HEAD
}

@media screen and (max-width:420px) {

    .text-sobre-left {

        padding: 30px;
    }

    .text-sobre-right {

        padding: 30px;
    }
}

@media screen and (max-width:300px) {

    a {
        font-size: 15px;
    }

    .text-sobre-left {
        width: 100%;
        height: 100%;
        gap: 15px;
        justify-content: space-between;
        padding: 20px;
    }

    .text-sobre-right {
        width: 100%;
        height: 100%;
        gap: 15px;
        justify-content: space-between;
        padding: 20px;
    }
=======
>>>>>>> 8d51aa4738aa7f42479ec748b38957e0594ed7fb
}